.contador{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    width: 200px;

}

.rojo{
    background-color:  tomato;
}

.verde{
    background-color:  lightgreen;
}

.azul{
    background-color: lightblue;
}